In [5]:
import pandas as pd

In [6]:
df = pd.read_excel("Assignmnet1_OnlineRetail.xlsx")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,MixedData
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,53.147707
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850.0,UK,76.719069
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,Unted Kingdom,ZOZDB
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850.0,U.K.,6.56081

In [7]:
row = df.iloc[4]
print(row)
print(df.size)

InvoiceNo                              536365
StockCode                              84029E
Description    red woolly hottie white heart.
Quantity                                    6
InvoiceDate               2010-12-01 08:26:00
UnitPrice                                3.39
CustomerID                            17850.0
Country                                  U.K.
MixedData                             6.56081
Name: 4, dtype: object
4884381