In [52]:
import pandas as pd # Importing pandas library

In [53]:
df = pd.read_excel("Assignmnet1_OnlineRetail.xlsx") # Loading the Excel dataset, using the read_excel function instead of read_csv

In [58]:
df.tail() # Check the last 5 entries of the dataframe for visualization

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,MixedData
542704,577331,22371,airline bag vintage tokyo 78,1,2011-11-18 14:23:00,4.25,14667.0,U.K.,NaN
542705,569721,47590A,BLUE HAPPY BIRTHDAY BUNTING,3,2011-10-06 09:28:00,5.45,12628.0,Germany,CVTYD
542706,537131,22429,enamel measuring jug cream,1,2010-12-05 12:26:00,4.25,15716.0,U.K.,93.788574
542707,576695,15034,PAPER POCKET TRAVELING FAN,1,2011-11-16 12:25:00,0.14,16469.0,U.K.,31
542708,576112,23184,bull dog bottle opener,4,2011-11-14 10:34:00,4.95,14902.0,U.K.,CIGKN

In [54]:
df.info() # Check basic information regarding the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542709 entries, 0 to 542708
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    542709 non-null  object
 1   StockCode    542709 non-null  object
 2   Description  541182 non-null  object
 3   Quantity     542709 non-null  int64
 4   InvoiceDate  542709 non-null  datetime64[ns]
 5   UnitPrice    488440 non-null  float64
 6   CustomerID   402422 non-null  float64
 7   Country      542709 non-null  object
 8   MixedData    406899 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 37.3+ MB

In [55]:
df.describe() # View basic statics of the dataset

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,542709.000000,542709,488440.000000,402422.000000
mean,8.766753,2011-07-04 07:50:48.211141376,4.590367,15388.103431
min,-82344.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-27 12:54:00,1.250000,14056.000000
50%,3.000000,2011-07-19 13:57:00,2.080000,15349.000000
75%,10.000000,2011-10-19 15:29:00,4.130000,16889.000000
max,79440.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.363536,NaN,103.446731,1687.000549

In [56]:
df.isnull().sum() # Check for missing values in the dataset

InvoiceNo           0
StockCode           0
Description      1527
Quantity            0
InvoiceDate         0
UnitPrice       54269
CustomerID     140287
Country             0
MixedData      135810
dtype: int64

In [61]:
df.dropna(subset=['Description'], inplace=True) # Drop rows where description is missing

In [62]:
df.isnull().sum() # Verify change

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice       54127
CustomerID     138760
Country             0
MixedData      135449
dtype: int64

In [64]:
df['UnitPrice'] = df['UnitPrice'].fillna(df['UnitPrice'].mean()) # Filling in missing UnitPrice row with the mean UnitPrice

In [65]:
df.isnull().sum() # Verify change

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     138760
Country             0
MixedData      135449
dtype: int64

In [66]:
df['CustomerID'] = df['CustomerID'].fillna('No customer ID') # Filling in missing CustomerID with 'no customer ID'
df['MixedData'] = df['MixedData'].fillna('Unknown') # Filling in missing MixedData with 'Unknown'

In [67]:
df.isnull().sum() # Verify change

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
MixedData      0
dtype: int64

In [69]:
df.duplicated().sum() # Checking the number of duplicated entries in the dataframe

151

In [70]:
df.drop_duplicates(inplace=True)

In [71]:
df.duplicated().sum() # Verifying change

0

In [72]:
df['Country'].unique() # Checking the unique values of the Country column

array(['United Kingdom', 'UK', 'Unted Kingdom', 'U.K.', 'France',
       'Frnace', 'GER', 'DE', 'Germany', 'Geramny', 'Spain', 'Italy'],
      dtype=object)

In [75]:
# Replacing each United Kingdom entry to its alpha-3 code
df['Country'] = df['Country'].replace('United Kingdom', 'GBR') 
df['Country'] = df['Country'].replace('Unted Kingdom', 'GBR') 
df['Country'] = df['Country'].replace('UK', 'GBR')
df['Country'] = df['Country'].replace('U.K.', 'GBR')

In [76]:
# Replacing each France entry to its alpha-3 code
df['Country'] = df['Country'].replace('France', 'FRA') 
df['Country'] = df['Country'].replace('Frnace', 'FRA')

array(['GBR', 'France', 'Frnace', 'GER', 'DE', 'Germany', 'Geramny',
       'Spain', 'Italy'], dtype=object)

In [ ]:
# Replacing each Germany entry to its alpha-3 code
df['Country'] = df['Country'].replace('Germany', 'DEU') 
df['Country'] = df['Country'].replace('Geramny', 'DEU') 
df['Country'] = df['Country'].replace('DE', 'DEU')
df['Country'] = df['Country'].replace('GER', 'DEU')

In [ ]:
# Replacing each Spain entry to its alpha-3 code
df['Country'] = df['Country'].replace('Spain', 'ESP')

In [ ]:
# Replacing each Italy entry to its alpha-3 code
df['Country'] = df['Country'].replace('Italy', 'ITA')

In [ ]:
df['Country'].unique() # Verifying change